{% extends 'base.html' %}
{% block title%} About Us {% endblock %}
{%block body%}
{{super()}}

<div class="container">
    <h1>Welcome to our thought-sharing application!</h1>
    <p>Express yourself, share your ideas, and connect with others. Our secure platform allows you to create an account, log in, and start posting your thoughts. You can also enjoy a fun section with random jokes.
         Join us today and let your thoughts be heard! As you can tell this is low budget facebook page made by one university student to tests his knowlage in python. Thanks for using this website!</p>
  </div>
  <center>
    <p><font size="5">Sincerely,<br>Bibi</font></p>
  </center>

  {% endblock %}