{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body %}
    {{ super() }}
    <h1>Hello {{ session['username'] }}</h1>
    <div class="container">
        <h2>Posts:</h2>
        {% for thought in thoughts %}
            <div class="card mb-3">
                <div class="card-body">
                    <p><strong>Post {{ loop.index }}:</strong> {{ thought.post }}</p>
                    <p><em>Posted on {{ thought.date.strftime('%Y-%m-%d') }} by {{ thought.user }}</em></p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
